In [44]:
import pandas as pd
from sqlalchemy import create_engine

In [45]:
csv_file = "rotten_tomatoes_top_movies.csv"
rotten_movies_df = pd.read_csv(csv_file)
rotten_movies_df.head()

,Unnamed: 0,title,year,synopsis,critic_score,people_score,consensus,total_reviews,total_ratings,type,...,release_date_(theaters),release_date_(streaming),box_office_(gross_usa),runtime,production_co,sound_mix,aspect_ratio,view_the_collection,crew,link
0,0,Black Panther,2018,"After the death of his father, T'Challa return...",96,79.0,Black Panther elevates superhero cinema to thr...,519,"50,000+",Action & Adventure,...,"Feb 16, 2018 wide","May 2, 2018",$700.2M,2h 14m,Walt Disney Pictures,"DTS, Dolby Atmos",Scope (2.35:1),Marvel Cinematic Universe,"Chadwick Boseman, Michael B. Jordan, Lupita Ny...",http://www.rottentomatoes.com/m/black_panther_...
1,1,Avengers: Endgame,2019,"Adrift in space with no food or water, Tony St...",94,90.0,"Exciting, entertaining, and emotionally impact...",538,"50,000+",Action & Adventure,...,"Apr 26, 2019 wide","Jul 30, 2019",$858.4M,3h 1m,"Marvel Studios, Walt Disney Pictures","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),Marvel Cinematic Universe,"Robert Downey Jr., Chris Evans, Mark Ruffalo, ...",http://www.rottentomatoes.com/m/avengers_endgame
2,2,Mission: Impossible -- Fallout,2018,Ethan Hunt and the IMF team join forces with C...,97,88.0,"Fast, sleek, and fun, Mission: Impossible - Fa...",433,"10,000+",Action & Adventure,...,"Jul 27, 2018 wide","Nov 20, 2018",$220.1M,2h 27m,"Bad Robot, Tom Cruise","DTS, Dolby Atmos, Dolby Digital",Scope (2.35:1),NaN,"Tom Cruise, Henry Cavill, Ving Rhames, Simon P...",http://www.rottentomatoes.com/m/mission_imposs...
3,3,Mad Max: Fury Road,2015,"Years after the collapse of civilization, the ...",97,86.0,With exhilarating action and a surprising amou...,427,"100,000+",Action & Adventure,...,"May 15, 2015 wide","Aug 10, 2016",$153.6M,2h,"Kennedy Miller Mitchell, Village Roadshow Pict...",Dolby Atmos,Scope (2.35:1),NaN,"Tom Hardy, Charlize Theron, Nicholas Hoult, Hu...",http://www.rottentomatoes.com/m/mad_max_fury_road
4,4,Spider-Man: Into the Spider-Verse,2018,"Bitten by a radioactive spider in the subway, ...",97,93.0,Spider-Man: Into the Spider-Verse matches bold...,387,"10,000+",Action & Adventure,...,"Dec 14, 2018 wide","Mar 7, 2019",$190.2M,1h 57m,"Lord Miller, Sony Pictures Animation, Pascal P...","Dolby Atmos, DTS, Dolby Digital, SDDS",Scope (2.35:1),NaN,"Shameik Moore, Hailee Steinfeld, Mahershala Al...",http://www.rottentomatoes.com/m/spider_man_int...

In [46]:
new_rotten_movies_df = rotten_movies_df[['title', 'critic_score', 'people_score', 'total_reviews', 'rating']].copy()
new_rotten_movies_df

,title,critic_score,people_score,total_reviews,rating
0,Black Panther,96,79.0,519,PG-13 (Sequences of Action Violence|A Brief Ru...
1,Avengers: Endgame,94,90.0,538,PG-13 (Sequences of Sci-Fi Violence|Action|Som...
2,Mission: Impossible -- Fallout,97,88.0,433,PG-13 (Intense Sequences of Action|Brief Stron...
3,Mad Max: Fury Road,97,86.0,427,R (Intense Sequences of Violence|Disturbing Im...
4,Spider-Man: Into the Spider-Verse,97,93.0,387,PG (Mild Language|Frenetic Action Violence|The...
...,...,...,...,...,...
1605,Priest,15,46.0,101,PG-13 (Disturbing Images|Brief Strong Language...
1606,September Dawn,16,49.0,55,R (Violence)
1607,American Outlaws,14,68.0,103,PG-13 (Western Violence)
1608,Jonah Hex,12,20.0,152,PG-13 (Intense Sequences of Action|Disturbing ...
1609,Texas Rangers,2,29.0,51,PG-13 (Western Violence)

In [51]:
rds_connection_string = "postgres:postgres@localhost:5432/movies_ETL"

In [52]:
engine = create_engine(f'postgresql://{rds_connection_string}')

In [53]:
engine.table_names()

['oscars', 'rotten_tomatoes_data']

In [54]:
new_rotten_movies_df.to_sql(name="rotten_tomatoes_data",con=engine, if_exists="append", index=False)

IntegrityError: (psycopg2.errors.NotNullViolation) null value in column "rating" of relation "rotten_tomatoes_data" violates not-null constraint
DETAIL:  Failing row contains (King Kong, 98, 86, 65, null).

[SQL: INSERT INTO rotten_tomatoes_data (title, critic_score, people_score, total_reviews, rating) VALUES (%(title)s, %(critic_score)s, %(people_score)s, %(total_reviews)s, %(rating)s)]
[parameters: ({'title': 'Black Panther', 'critic_score': 96, 'people_score': 79.0, 'total_reviews': 519, 'rating': 'PG-13 (Sequences of Action Violence|A Brief Rude Gesture)'}, {'title': 'Avengers: Endgame', 'critic_score': 94, 'people_score': 90.0, 'total_reviews': 538, 'rating': 'PG-13 (Sequences of Sci-Fi Violence|Action|Some Language)'}, {'title': 'Mission: Impossible -- Fallout', 'critic_score': 97, 'people_score': 88.0, 'total_reviews': 433, 'rating': 'PG-13 (Intense Sequences of Action|Brief Strong Language|Violence)'}, {'title': 'Mad Max: Fury Road', 'critic_score': 97, 'people_score': 86.0, 'total_reviews': 427, 'rating': 'R (Intense Sequences of Violence|Disturbing Images)'}, {'title': 'Spider-Man: Into the Spider-Verse', 'critic_score': 97, 'people_score': 93.0, 'total_reviews': 387, 'rating': 'PG (Mild Language|Frenetic Action Violence|Thematic Elements)'}, {'title': 'Wonder Woman', 'critic_score': 93, 'people_score': 83.0, 'total_reviews': 463, 'rating': 'PG-13 (Sequences of Violence|Action|Some Suggestive Content)'}, {'title': 'Dunkirk', 'critic_score': 92, 'people_score': 81.0, 'total_reviews': 458, 'rating': 'PG-13 (Some Language|Intense War Experience)'}, {'title': 'Coco', 'critic_score': 97, 'people_score': 94.0, 'total_reviews': 347, 'rating': 'PG (Thematic Elements)'}  ... displaying 10 of 1610 total bound parameter sets ...  {'title': 'Jonah Hex', 'critic_score': 12, 'people_score': 20.0, 'total_reviews': 152, 'rating': 'PG-13 (Intense Sequences of Action|Disturbing Images|Intense Sequences of Violence|Sexual Content)'}, {'title': 'Texas Rangers', 'critic_score': 2, 'people_score': 29.0, 'total_reviews': 51, 'rating': 'PG-13 (Western Violence)'})]
(Background on this error at: http://sqlalche.me/e/13/gkpj)